*{
  box-sizing: border-box;
  color: #ffffff;
  margin:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main{
  background-color: #923b55;
}
header{
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

section{
  align-content: center;
  justify-content: center;
  display: grid;
  background-color: #772727;
  border:2px solid #ffffff;
  height: 700px;
}

footer{
  display: flex;
  justify-content: end;
  height: 50px;
}
.game-page{
  grid-template-columns: repeat(28,20px);
  grid-template-rows: repeat(28,20px);
}
.game-done{
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  position: fixed;
  top:40%;
  left:40%;
}
.start{
  font-size: 50px;
}
.title{
  margin: 0 auto;
}