@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
  box-sizing: border-box;
  color: #fff;
  margin:0;
  font-family: 'Work Sans', sans-serif;
}
main{
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  overflow: auto;
  background-color:#081336;
}

header{
  padding: 2em;
  text-align: center;
}

h1, #score, #level{
  border:.75vh solid #53bcd6;
  border-radius: 1vh;
  padding: .5vh 2vh;
  background-color: #376b5f;
}

h1{
  margin-top: -2vh;
}
section{
  margin: 0 auto;
  background-color: #c78866;
  border:1vh solid #53bcd6;
  border-radius: 5vh;
  width: 95%;
}

footer{
  display: flex;
  justify-content:space-evenly;
}

button{
  width: 10vh;
  height: 5vh;
  margin: 2.5vh auto;
  border-radius: 1vh;
  border: .5vh solid #3792ab;
  background-color: #2a768a;
}

a{
  text-decoration: none;
}
.game-area{
  padding:0;
  justify-content: center;
  background-color: #c75136;
  width: 71.75vh;
  margin: 2vh auto;
  display: grid;
  grid-template-columns: repeat(28,2.5vh);
  grid-template-rows: repeat(28,2.5vh);
  border-radius: 5%;
  border: 1vh solid #ffffff;
}
.game{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.game-done{
  text-align: center;
  opacity: 0;
  position: absolute;
  top:40%;
  left: 40%;
}
.directions{
  text-align: center;
  margin: 15vh auto 0 auto;
  width: 40vh;
}
.directions h2{
  color: #c75136;
  font-size: 4vh;
}
.start{
  width: 15vh;
  background-color: #c75136;
  font-size: 5vh;
  border:.5vh solid #fff;
  border-radius: 1vh;
  padding-bottom:.5vh;
  margin: 2vh auto;
}
.title{
  margin: 0 auto;
}
.controller{
  display: none;
}
#reset, #end-button{
  font-size: 2.5vh;
  background-color: #c75136;
}
#box0{
  border-radius: 100% 0 0 0;
}

#box27{
  border-radius: 0 100% 0 0;
}
#box756{
  border-radius: 0 0 0 100%;
}
#box783{
  border-radius: 0 0 100% 0;
}


/*for tablet & phones */
@media screen and (max-width: 896px){
  *{
    margin:0;
    padding:0;
  }
  main{
    grid-template-rows: 10vh 60vh 30vh;
  }
  h1, #score, #level{
    border:.25vh solid #53bcd6;
  }
  h1{
    font-size: 2vh;
    margin-top: 2vh;
  }
  header{
    margin:0 auto;
  }
  section{
    margin: 0 auto;
    background-color:transparent;
    border:none;
    border-radius:0;
  }
  footer{
    margin-top: -15vh
  }
  button{
    width: 6vh;
    height: 5vh;
  }
  .directions{
    text-align: center;
    width: 30vh;
  }
  .game-area{
    grid-template-columns: repeat(28,1vh);
    grid-template-rows: repeat(28,1vh);
    width: 29.5vh;
  }

  .controller{
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr 1fr;
    padding-bottom: 20vh;
    margin-top:-12;
  }

  .controls{
    font-size: 2vh;
    text-align:center;
    background-color: #c75136;
    width: 10vh;
    height: 10vh;
    padding-top: 3vh;
    margin: 1vh;
    border-radius: 2vh;
    border: .5vh solid #3792ab;
  }


  #score, #level{
    font-size: 1.5vh;
    width: 10vh;
  }
  #reset, #end-button{
    font-size: 1.5vh;
    margin:0;  
    margin-top: -6vh;
  }

}
